<h1>My Tamagotchies</h1>

  @foreach(var tamagotchi in Model)
  {

    <p>@tamagotchi.GetName()</p>
    if (@tamagotchi.GetHungry() > 0 && @tamagotchi.GetSleep() > 0 && @tamagotchi.GetHappy() > 0)
    {
    <p>@tamagotchi.GetHungry() <a href='/feed/@tamagotchi.GetId()'>feed me</a></p>
    <p>@tamagotchi.GetSleep() <a href='/sleep/@tamagotchi.GetId()'>put me to sleep</a></p>
    <p>@tamagotchi.GetHappy() <a href='/happy/@tamagotchi.GetId()'>make me happy</a></p>
    } else{
    <p>he is dead</p>
    }
  }

<p><a href="/tamagotchies/new">Add a new tamagotchi.</a></p>

<form action="/tamagotchies/decrease" method="post">
  <button type="submit" name="button">Timepass</button>
</form>
